<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login </title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" 
			th:href="@{css/bootstrap.min.css}" />
		<style>
			body {
				margin: 20px;
			}
			form {
				max-width: 800px;
				margin: auto;
				min-height: 400px;
			}
		</style>
    </head>
    <body>
    <form th:object="${forgotForm}" th:action="@{/sendforgot}" action="#" method="post">
        	<p class="h4 mb-4">Insert your email to reset password</p>
        	
        	<label for="email">email</label>
			<input type="text" id="email" th:field="*{email}" class="form-control"/>
           	<input type="submit" value="Reset" class="btn btn-primary col-sm-2"/>
           	<br />
           	<div class="text-center">

    		</div>
        </form>
        
    </body>
</html>